<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="header.css">
    <title>Document</title>
</head>
<body>
    <section class="flex">

        <div class="img">
            <div>
        
                <h1 class="logo">FOODIED</h1>
            </div>
        <img class="ensa" src="toshuev.jpg" alt="">
        </div>
        
        
        <section class="partedos">
            <div class="iniciar">
            <h1>Registrate</h1>
            </div>
        
            <div class="form">
                <form for="">
                    <div class="persona">
        
                        <img class="imagen" src="icons8-nuevo-post-20.png" alt="">
                        <input class="email" type="text" required  placeholder="Email">
                    </div>
                    
                    <div class="persona">
                        <img class="imagen" src="icons8-persona-24.png" alt="">
                        <input class="email" type="text"  required  placeholder="Nombre Completo">
                    </div>
                    
                    <div class="persona">
                        <img class="imagen" src="icons8-persona-24.png" alt="">
                        <input class="email" type="text"  required  placeholder="Nombre de Usuario">
                    </div>
                    
                    <div class="persona">
                        <img class="imagen" src="icons8-candado.svg" alt="">
                        <input class="email" type="password" maxlength="12" required  placeholder="Contraseña">
                    </div>
                    <button class="btn-form">Registrarme</button>
                </form>
                
            </div>
        
            <div class="metodos">
                ────────── Otros Metodos ──────────
            </div>
        <section class="opcio">
        
            <div class="Face">    
        <a class="inter" href="#"><img class="logoimg" src="icons8-facebook-f (1).svg" alt="">Facebook</a>
            </div>
        
            <div class="gogo">    
                <a class="gogle" href="#"><img class="logoimg" src="icons8-logo-de-google (1).svg" alt="">Google</a>
                    </div>
            </section>
        
        
            <div class="regi">
                <p class="preg">Ya tenes cuenta?</p>
                <a href="/login">Iniciar Sesion</a>
                <span style="margin: 0px 0px 0px 8px;">/</span>
                <a href="/">Volver al Inicio</a>
            </div>
        
        </section>

        </section>

</body>
</html>
